<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Business Gate release test" android:allowBackup="false" android:icon="@drawable/ic_gate" android:fullBackupContent="@xml/backup_rules" android:dataExtractionRules="@xml/data_extraction_rules" android:supportsRtl="true" />
    <instrumentation android:name=".ReleaseProbe" android:targetPackage="io.github.appunnim.businessgate.probe" android:functionalTest="true" />
</manifest>
